[submodule "library/vendor/gamecontrollerdb"]
	path = library/vendor/gamecontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "library/vendor/stb"]
	path = library/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "library/vendor/nuklear"]
	path = library/vendor/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "tools/gf_pack/vendor/rapidjson"]
	path = tools/gf_pack/vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "library/vendor/pugixml"]
	path = library/vendor/pugixml
	url = https://github.com/zeux/pugixml.git
