[submodule "library/vendor/stb"]
	path = library/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
