[submodule "library/vendor/gamecontrollerdb"]
	path = library/vendor/gamecontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "library/vendor/stb"]
	path = library/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "library/vendor/nuklear"]
	path = library/vendor/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "library/vendor/pugixml"]
	path = library/vendor/pugixml
	url = https://github.com/zeux/pugixml.git
