version: '{build}-{branch}'
branches:
  only:
   - develop
   - master
skip_tags: true
image:
  - Visual Studio 2017
  - Visual Studio 2019
platform: x64
configuration:
  - Debug
  - Release
clone_folder: C:\projects\GF

cache:
  - C:\Tools\vcpkg\installed\

install:
  - cmd: cd C:\Tools\vcpkg
  - cmd: git fetch
  - cmd: git checkout 2020.01
  - cmd: .\bootstrap-vcpkg.bat
  - cmd: vcpkg integrate install
  - cmd: vcpkg remove --outdated --recurse
  - cmd: vcpkg install sdl2:x64-windows freetype:x64-windows zlib:x64-windows boost-algorithm:x64-windows boost-filesystem:x64-windows boost-heap:x64-windows boost-container:x64-windows
  # box2d:x64-windows sfml:x64-windows

before_build:
  - cmd: cd C:\projects\GF
  - cmd: git submodule update --init
  - cmd: mkdir build
  - cmd: cd build
  - cmd: cmake -A x64 -DGF_DEBUG=OFF -DGF_BUILD_GAMES=OFF -DGF_BUILD_TOOLS=ON -DGF_SINGLE_COMPILTATION_UNIT=ON -DGF_SHARED=OFF -DCMAKE_TOOLCHAIN_FILE=C:\Tools\vcpkg\scripts\buildsystems\vcpkg.cmake ..

build:
  parallel: true
  project: C:\projects\GF\build\GF.sln
  verbosity: normal

# test_script:
  # - cmd: .\tests\Debug\gf_tests.exe --gtest_output=xml:tests.xml --gtest_filter=-Socket*

# on_finish:
  # - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\tests.xml))
