version: '{build}-{branch}'
branches:
  only:
   - develop
   - master
skip_tags: true
image: Visual Studio 2017
clone_folder: C:\projects\GF

cache:
  - C:\Tools\vcpkg\installed\

install:
  - cmd: git submodule update --init

before_build:
  - cmd: vcpkg remove --outdated --recurse
  - cmd: vcpkg install sdl2:x64-windows freetype:x64-windows zlib:x64-windows boost-algorithm:x64-windows boost-filesystem:x64-windows boost-heap:x64-windows boost-container:x64-windows box2d:x64-windows sfml:x64-windows
  - cmd: cd C:\projects\GF
  - cmd: mkdir build
  - cmd: cd build
  - cmd: cmake -A x64 -DGF_DEBUG=OFF -DGF_BUILD_GAMES=ON -DGF_BUILD_TOOLS=ON -DGF_SINGLE_COMPILTATION_UNIT=ON -DGF_SHARED=OFF -DCMAKE_TOOLCHAIN_FILE=C:\Tools\vcpkg\scripts\buildsystems\vcpkg.cmake ..

platform: x64
configuration: Release

build:
  parallel: true
  project: C:\projects\GF\build\GF.sln
  verbosity: normal
